<div class="table-container" ng-init="init()">
    <div ng-if="$root.isLoading">
        <div class="text-center">
            <i class="fa fa-spinner fa-5x fa-spin loader"></i>
        </div>
    </div>

    <div ng-if="!$root.isLoading">
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users track by $index">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td class="text-center" ng-show="!flags.isCrudLoading">
                            <span dropdown>
                                <i class="fa fa-cogs" id="simple-dropdown" dropdown-toggle></i>
                                <ul class="dropdown-menu" dropdown-menu aria-labelledby="simple-dropdown">
                                  <li>
                                      <a href="#" ng-click="openCreateNewUserModal('edit', user)">Edit</a>
                                  </li>
                                    <li>
                                        <a href="#" ng-click="openRemoveUserModal(user)">Remove</a>
                                    </li>
                                </ul>
                            </span>
                        </td>
                        <td class="text-center" ng-show="flags.isCrudLoading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button class="btn btn-primary" ng-click="openCreateNewUserModal('create')" ng-disabled="flags.isCrudLoading">
                <span ng-show="flags.isCrudLoading"><i class="fa fa-spinner fa-spin"></i></span>
                Create new
            </button>
        </div>
    </div>
    <!--    Code left out for debugging purposes.
    <div>
        <div class="clearfix" style="margin-top: 20px;"></div>
        <div class="row">
            <pre class="col-md-12">
                {{users | json}}
            </pre>
        </div>
    </div>
    -->
</div>